*{
	font-family: "微软雅黑";

}
.main{

	position: absolute;
	margin: auto;
	top:0;
	left:0;
	right:0;


}
.panel-title{
	font-size: 20px
}
.img-circle{
	width:40px;
	height: 40px;

}
.avator_ul{
	padding:0;
	float: right;
}
.avator_ul>li{
	list-style: none;
	font-size: 15px;
	margin:5px 0;
}
.avator_ul>li>a{
	color: black;
	text-decoration: none;
	font-size: 16px;
}
.panel-body>p{
	
}
